
<div class="effects">
    <div class="effects__box">
        <div class="effects__title">
            Когда вы выкурили свою первую сигарету,
        </div>
        <div class="effects__subtitle">
            вам точно хотелось остаться курильщиком
        </div>
        <div class="effects__description">
            на всю жизнь?
        </div>
        <div class="effects__events">
            наведите на фото
            <img src="../media/effects/arrow-right.png" alt="">
        </div>
    </div>
    <div class="effects__media">
        <div class="effects__fadeLine">
            <img src="../media/effects/fadeLine.png" alt="">
        </div>
        <img src="../media/effects/human.png" alt="">
        <img src="../media/effects/human.png" alt="">
    </div>
</div>
