
.section {
    position: relative;
    width: calc(100% + 700px);
    left: -350px;

    &_face {
      padding-bottom: 100px;
      background-color: #eff1f7;
      background-image: url("../media/section/circle.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      border-radius: 0 0 50% 50%;
    }

    &_effects {
        overflow: hidden;
        background: rgb(255,214,198);
        background: linear-gradient(to top, rgba(255,214,198,1) 0%, rgba(255,255,255,1) 100%);
        border-radius: 0 0 50% 50%;
        padding-top: 400px;
        padding-bottom: 210px;

        &:before {
            position: absolute;
            bottom: 0;
            left: 450px;
            content: '?';
            color: #ffeee8;
            font-size: 800px;
            font-weight: 800;
            line-height: .7;
        }
    }

    &_warning {
        padding-bottom: 260px;
        background-image: url("../media/section/warning.png");
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    &_cause {
        z-index: 1;
        padding-top: 80px;
        padding-bottom: 140px;
        background: #050708;
        background-image: url("../media/section/cause.png");
        background-repeat: no-repeat;
        background-position: right top;
    }

    &_memories {
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url("../media/section/memories.png");
        background-repeat: no-repeat;
        background-position: 350px top;
        background-color: #fff;
    }

    &_question {
        min-height: 1500px;
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url("../media/section/question.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-color: #fff;
    }

    &_step {
        margin-top: -170px;
        padding-top: 80px;
        padding-bottom: 240px;
        background-color: #ebeef5;
        border-radius: 50% 50% 0 0;
    }

    &_product {
        z-index: 1;
        padding-top: 120px;
        padding-bottom: 150px;
        margin-top: -200px;
        background-image: url("../media/section/product.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-color: #fff;
        border-radius: 50%;
    }

    &_professional {
        overflow: hidden;
        padding-top: 250px;
        margin-top: -250px;
        background-image: url("../media/section/professional.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
        background-size: cover;
        border-radius: 0 0 50% 50%;
    }

    &_reviews {
        padding-top: 60px;
    }

    &_fake {
        background-image: url("../media/section/fake.png");
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.section__warning {
    margin-top: 100px;
    margin-bottom: 50px;
}

@media(max-width: 1280px) {
    .section {
        &_effects {
            padding-top: 120px;
        }

        &::before {
            left: 350px;
            color: #fff9f6;
            font-size: 700px;
        }
    }
}

@media(max-width: 768px) {
    .section {
        &_effects {
            padding-top: 30px;
            padding-bottom: 0;

            &::before {
                display: none;
            }
        }
    }
}

@media(max-width: 480px) {
    .section {
        position: static;
        width: 100%;
        left: 0;
        border-radius: 0;
    }
}

@media (max-width: 480px) {
    .effects__title {
        font-size: 18px;

        & span {
            font-size: 18px;

            & span {
                font-size: 18px;
            }
        }
    }

    .effects__subtitle {
        font-size: 23px;
    }

    .effects__description {
        font-size: 34px;
    }
}
