
.section_face {
    background-image: url('../media/section/face.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-bottom: 90px;
}

.section_effects {
    background-image: url('../media/section/effects.png');
    background-repeat: no-repeat;
    background-color: #ffd8c8;
    background-position: center bottom;
    background-size: cover;
}
